version: "3.8"

x-splunk-common: &splunk-common
  image: ${SPLUNK_IMAGE:-splunk/splunk:latest}
  networks:
    - splunknet
  environment: &common-env
    SPLUNK_START_ARGS: --accept-license
    SPLUNK_PASSWORD: ${SPLUNK_PASSWORD}
    SPLUNK_GENERAL_TERMS: "--accept-sgt-current-at-splunk-com"
    SPLUNK_IDXC_PASS4SYMMKEY: "7fQmP4ZxL9A2RkEwJYtHcD6N8bV5sMUp"

x-indexer: &indexer
  <<: *splunk-common
  depends_on:
    - cm1
  environment:
    <<: *common-env
    SPLUNK_ROLE: splunk_indexer
    SPLUNK_CLUSTER_MASTER_URL: cm1
    SPLUNK_INDEXER_URL: idx1,idx2,idx3
    SPLUNK_LICENSE_MASTER_URL: cm1:8089

x-shc-member: &shc-member
  <<: *splunk-common
  depends_on:
    - idx1
    - idx2
    - idx3
    - cm1
    - dpl1
  environment:
    <<: *common-env
    SPLUNK_INDEXER_URL: idx1,idx2,idx3
    SPLUNK_CLUSTER_MASTER_URL: cm1
    SPLUNK_LICENSE_MASTER_URL: cm1:8089
    SPLUNK_SEARCH_HEAD_URL: sh2,sh3
    SPLUNK_SEARCH_HEAD_CAPTAIN_URL: sh1
    SPLUNK_ROLE: splunk_search_head
    SPLUNK_DEPLOYER_URL: dpl1
    SPLUNK_SHC_PASS4SYMMKEY: "3nXyR8vTzW4qJcFhKpLsGdE2aYbUoN7m"

x-shc-captain: &shc-captain
  <<: *shc-member
  environment:
    <<: *common-env
    SPLUNK_INDEXER_URL: idx1,idx2,idx3
    SPLUNK_CLUSTER_MASTER_URL: cm1
    SPLUNK_LICENSE_MASTER_URL: cm1:8089
    SPLUNK_SEARCH_HEAD_URL: sh2,sh3
    SPLUNK_SEARCH_HEAD_CAPTAIN_URL: sh1
    SPLUNK_ROLE: splunk_search_head_captain
    SPLUNK_DEPLOYER_URL: dpl1
    SPLUNK_SHC_PASS4SYMMKEY: "3nXyR8vTzW4qJcFhKpLsGdE2aYbUoN7m"

networks:
  splunknet:
    driver: bridge
    attachable: true

services:
  # 클러스터 매니저 (예전 명칭: Cluster Master)
  cm1:
    <<: *splunk-common
    hostname: cm1
    container_name: cm1
    environment:
      <<: *common-env
      SPLUNK_ROLE: splunk_cluster_master
      # 라이선스 파일을 마운트한 뒤 경로를 지정하면 라이선스 마스터 역할 수행
      SPLUNK_LICENSE_URI: /etc/Splunk.License
    ports:
      - "8001:8000"   # 웹 UI (선택)
      - "8081:8089"   # 관리 포트 (선택)
    volumes:
      - ./cm1-data:/opt/splunk/var
      - ./cm1-etc:/opt/splunk/etc
      - /usr/local/pkgs/Splunk.License:/etc/Splunk.License
  # SH Deployer
  dpl1:
    <<: *splunk-common
    hostname: dpl1
    container_name: dpl1
    environment:
      <<: *common-env
      SPLUNK_ROLE: splunk_deployer
      SPLUNK_INDEXER_URL: idx1,idx2,idx3
      SPLUNK_SEARCH_HEAD_URL: sh2,sh3
      SPLUNK_SEARCH_HEAD_CAPTAIN_URL: sh1
      SPLUNK_DEPLOYER_URL: dpl1
      SPLUNK_CLUSTER_MASTER_URL: cm1
      SPLUNK_SHC_PASS4SYMMKEY: "3nXyR8vTzW4qJcFhKpLsGdE2aYbUoN7m"      
    ports:
      - "8008:8000"   # 관리 포트 (선택)
      - "8088:8089"   # 관리 포트 (선택)
    volumes:
      - ./dpl1-etc:/opt/splunk/etc
  # 인덱서 1
  idx1:
    <<: *indexer
    hostname: idx1
    container_name: idx1
    ports:
      - "8002:8000"
      - "8011:1514/udp"
      - "8082:8089"
    volumes:
      - ./idx1-data:/opt/splunk/var
      - ./idx1-etc:/opt/splunk/etc
  # 인덱서 2
  idx2:
    <<: *indexer
    hostname: idx2
    container_name: idx2
    ports:
      - "8003:8000"
      - "8012:1514"
      - "8083:8089"
    volumes:
      - ./idx2-data:/opt/splunk/var
      - ./idx2-etc:/opt/splunk/etc
  # 인덱서 3
  idx3:
    <<: *indexer
    hostname: idx3
    container_name: idx3
    ports:
      - "8004:8000"
      - "8013:1514"
      - "8084:8089"
    volumes:
      - ./idx3-data:/opt/splunk/var
      - ./idx3-etc:/opt/splunk/etc
  # 검색 헤드 클러스터 (3노드)
  sh1:
    <<: *shc-captain
    hostname: sh1
    container_name: sh1
    ports:
      - "8000:8000"   # 메인 접속용 웹 포트
      - "8085:8089"   # 관리 포트
    volumes:
      - ./sh1-data:/opt/splunk/var
      - ./sh1-etc:/opt/splunk/etc
  sh2:
    <<: *shc-member
    hostname: sh2
    container_name: sh2
    ports:
      - "8006:8000"   # 메인 접속용 웹 포트
      - "8086:8089"   # 관리 포트
    volumes:
      - ./sh2-data:/opt/splunk/var
      - ./sh2-etc:/opt/splunk/etc     
  sh3:
    <<: *shc-member
    hostname: sh3
    container_name: sh3
    ports:
      - "8007:8000"   # 메인 접속용 웹 포트
      - "8087:8089"   # 관리 포트
    volumes:
      - ./sh3-data:/opt/splunk/var
      - ./sh3-etc:/opt/splunk/etc          
  # Heavy Forwarder
  hf1:
    <<: *splunk-common
    hostname: hf1
    container_name: hf1
    depends_on:
      - idx1
      - idx2
      - idx3
      - cm1
    environment:
      <<: *common-env
      SPLUNK_ROLE: splunk_heavy_forwarder
      # 포워딩 대상 인덱서 클러스터
      SPLUNK_INDEXER_URL: idx1,idx2,idx3
      SPLUNK_LICENSE_MASTER_URL: cm1:8089
    ports:
      - "8005:8000"
      - "8090:8089"
      - "9997:9997/tcp" # 기본 포워더 수신 포트
    volumes:
      - ./hf1-data:/opt/splunk/var
      - ./hf1-etc:/opt/splunk/etc
  # # for manual addition idx4
  # idx4:
  #   <<: *splunk-common
  #   hostname: idx4
  #   container_name: idx4
  #   depends_on:
  #     - idx1
  #     - idx2
  #     - idx3
  #     - cm1
  #   environment:
  #     <<: *common-env
  #     SPLUNK_ROLE: splunk_monitor
  #   ports:
  #     - "8009:8000"
  #   volumes:
  #     - ./idx4-data:/opt/splunk/var
  #     - ./idx4-etc:/opt/splunk/etc